{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
}

.navbar {
    background: #111;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav li {
    display: inline;
    margin-left: 15px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.logo {
    color: red;
}

.hero {
    background: #222;
    color: white;
    padding: 60px;
    text-align: center;
}

.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: red;
    color: white;
    text-decoration: none;
}

.teams {
    padding: 40px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    padding: 15px;
    width: 200px;
}


footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 10px;
}

.card {
    width: 200px;
}

.card img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    display: block;
}